@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-size: 12px;
    font-family: Inter,  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
}

h1 {
    font-family: Inter, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
/*    border-bottom: 1px solid #AFAFAF; */
    font-size:  16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #000000;
}

footer {
    text-align: center;
    background-color: #F8F9FA;
    padding: 10px;
    border: 1px solid #DEE2E6;
}


a:link, a:visited {
  color: #045491;
  font-weight : bold;
  text-decoration: none;
}

/*a:link:hover, a:visited:hover  {
  color: #045491;
  font-weight : bold;
  text-decoration : underline;
}*/
